input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input:not([type="radio"]) {
    padding: .25rem;
    width: 2.3rem;
    border: none;
    border-bottom: 1px solid #aaaa;
    text-align: center;
}

button[type="submit"] {
    padding: .5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.error-wrapper {
    color: red;
}

.matrices-wrapper {
    display: flex;
    flex-direction: row;
}

table {
    border-left: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
    margin: 1rem;
}

.matrices-result input {
    border: none;
}
